body {
  font-family: 'Segoe UI', sans-serif;
  background-color:#fdf6ec;
  margin: 0;
  padding: 40px 20px;
  text-align: center;
}
.container {
  padding-top: 60px;
}
@media (max-width: 1000px) { .container { padding-top: 55px; } }
@media (max-width: 450px) { .container { padding-top: 50px; } }

h2 {
  color: #2c3e50;
}

.puzzle-box {
    background-color: #2d3436;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.puzzle-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 8px;
  margin: 20px auto;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74b9ff; 
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.tile.empty {
  background: #eee;
  cursor: default;
}

#shuffleBtn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #82ccdd;
  font-size: 1rem;
  cursor: pointer;
}

#status {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}


